body {
    background-color: #FFECD1;
    margin: 0; /* Ensure no margin on body */
}

/* General Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15616d;
    padding: 0.5rem 1rem;
    position: fixed; /* Fixed position for scrolling effect */
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.5s; /* Smooth transition */
    z-index: 1000; /* Ensure it stays on top */
}

.logo img {
    max-width: 100px;
    height: auto;
}

/* Navigation Links */
.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #00bcd4;
}

/* Hamburger Menu (for mobile) */
.hamburger {
    display: none; /* Initially hidden, shown in media query */
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    background: white;
    height: 3px;
    width: 25px;
    margin: 4px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        display: none; /* Hide nav links by default */
        flex-direction: column;
        width: 100%;
        background-color: #15616d;
        position: absolute;
        top: 100%;
        left: 0;
    }

    .nav-links.active {
        display: flex; /* Show nav links when active */
    }

    .hamburger {
        display: flex; /* Show hamburger icon */
    }
}

a {
    color: #001524;
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
    color: #001524;
}

/* Footer Styles */
.site-footer {
    background-color: #15616d;
    color: #fff;
    padding: 2rem 1rem;
    text-align: center;
    margin: 0; /* Remove margin to eliminate border effect */
}

.site-footer .container {
    max-width: 800px;
    margin: 0 auto;
}

.site-footer p {
    margin: 0.5rem 0;
    font-size: 1rem;
}

.site-footer a {
    color: #00bcd4;
    text-decoration: none;
    transition: color 0.3s;
}

.site-footer a:hover {
    color: #0097a7;
}

.site-footer .social-links a {
    margin: 0 0.5rem;
    font-size: 1rem;
}

.footer-logo {
    max-width: 100px;
    margin-bottom: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .site-footer p {
        font-size: 0.875rem;
    }
    .site-footer .social-links a {
        margin: 0.25rem;
    }
}

section {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 125px; /* Add margin to ensure the first section is not hidden by the navbar */
}

.block:nth-child(odd) {
    text-align: left;
    margin-left: 50px;
    margin-right: auto;
}

.block:nth-child(even) {
    text-align: right;
    margin-left: auto;
    margin-right: 50px;
}

h1, h2, h3 {
    color: #15616D;
}
